<div class="container menuHeader">
  <md-card>
    <div class="row">
      <div>
        <!-- img -->
        <img class="headerImg" src="../../assets/img1.jpg" *ngIf="vendorName === 'McDonalds'">
        <img class="headerImg" src="../../assets/Chicken-Biryani_jpeg.jpg" *ngIf="vendorName === 'Paradise'">
        <img class="headerImg" src="../../assets/img2.png" *ngIf="vendorName === 'TGIF'">
        <img class="headerImg" src="../../assets/img3.jpg" *ngIf="vendorName === 'Taj Krishna'">
        <img class="headerImg" src="../../assets/img5.jpg" *ngIf="vendorName === 'Mariott'">
        <img class="headerImg" src="../../assets/img6.jpg" *ngIf="vendorName === 'Alakapuri'">
        <img class="headerImg" src="../../assets/img7.jpg" *ngIf="vendorName === 'Ananda Bhavan'">
        <img class="headerImg" src="../../assets/img8.jpg" *ngIf="vendorName === 'Paragon'">
        <img class="headerImg" src="../../assets/img9.jpg" *ngIf="vendorName === 'Rasoi'">
        <img class="headerImg" src="../../assets/img10.jpg" *ngIf="vendorName === 'Haveli'">
        <img class="headerImg" src="../../assets/img11.jpg" *ngIf="vendorName === 'Chutneys'">
        <img class="headerImg" src="../../assets/img12.jpg" *ngIf="vendorName === 'Vivanta'">
        <img class="headerImg" src="../../assets/img13.jpg" *ngIf="vendorName === 'Taj Banjara'">
        <img class="headerImg" src="../../assets/img14.jpg" *ngIf="vendorName === 'Bawarchi'">
        <img class="headerImg" src="../../assets/img15.jpg" *ngIf="vendorName === 'Park Hayatt'">
        <!-- img -->
      </div>
      <div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </div>
      <div>
        <h3>{{vendorName}}</h3>
      </div>
    </div>
  </md-card>
</div>

<div class="container menuContainer">
  <md-card class="leftDiv">
    <md-list>
      <h3 md-subheader>
        <strong>Menu</strong>
      </h3>
      <md-divider></md-divider>
      <br>
      <ul class="list-group">
        <li class="list-group-item" style="border:none;" *ngFor="let item of vendorData">
          <div class="row">
            <div class="col-1 text-center" *ngIf="item.veg">
              <i class="fa fa-dot-circle-o vegIconStyle" aria-hidden="true"></i>
            </div>
            <div class="col-1 nonvegIconStyle text-center" *ngIf="!item.veg">
              <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
            </div>
            <div class="col-4">
              {{item.name}}
            </div>
            <div class="col-4">
              <div class="row text-center">
                <div class="col-3">
                  <a class="removeFocus cursorPointer" (click)="removeFromCart(item)">
                    <i class="material-icons">remove_circle_outline</i>
                  </a>
                </div>
                <div class="col-2">
                  {{item.quantity}}
                </div>
                <div class="col-3">
                  <a class="removeFocus cursorPointer" (click)="add2Cart(item)">
                    <i class="material-icons">add_circle_outline</i>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-3" align="left" style="padding-left:10%;">
              <i class="fa fa-inr" aria-hidden="true"></i> {{item.unitPrice}}
            </div>
          </div>
        </li>
      </ul>
    </md-list>
  </md-card>
  <md-card class="rightDiv">
    <md-list>
      <h3 md-subheader>
        <strong>Cart</strong>
      </h3>
      <md-divider></md-divider>
      <br>
      <ul class="list-group" [hidden]="carterData?.length === 0">
        <li class="list-group-item" style="border:none;" *ngFor="let item of carterData">
          <div class="row cart-font">
            <div class="col-5">
              {{item.name}}
            </div>
            <div class="col-4 text-center">
              <div class="row">
                <div class="col-3">
                  <a class="removeFocus cursorPointer" (click)="removeFromCart(item)">
                    <i class="material-icons cart-icon">remove_circle_outline</i>
                  </a>
                </div>
                <div class="col-2">
                  {{item.quantity}}
                </div>
                <div class="col-3">
                  <a class="removeFocus cursorPointer" (click)="add2Cart(item)">
                    <i class="material-icons cart-icon">add_circle_outline</i>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-3">
              <i class="fa fa-inr" aria-hidden="true"></i> {{item.unitPrice}}
            </div>
          </div>
        </li>
      </ul>
      <div class="container text-center" [hidden]="carterData?.length !== 0">       
          <p class="cartEmpty">Your cart is empty</p>
        </div>
    </md-list>
    
    <md-card-content class="text-center">
        <br>
        <md-divider></md-divider>
        <br>
        <div class="row">
            <div class="col-8" align="right">Total:</div>
            <div class="col-4" align="right" style="padding-right:15%;"><i class="fa fa-inr" aria-hidden="true"></i> {{this.cartAmount}}</div>     
        </div> 
      </md-card-content>
    <md-card-actions class="text-center">
        <button md-raised-button color="primary" class="checkoutButton" (click)="checkoutClick()" [disabled]="cartAmount === 0">
            <i class="material-icons">shopping_cart</i> Checkout
          </button>
    </md-card-actions>
  </md-card>
</div>

