/* .menuCard {
    top: 25px;
}

.mainDiv {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    
}

.card {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

#incrementorField {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    max-width: 40px;
}

input {
    text-align: center;
} */

.card {
    margin-top: 20px;
    margin-bottom: 10px;
    min-width: 150px;
    max-height: 300px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.30), 0 8px 6px rgba(0,0,0,0.22);
    
  }

  .overflow-control {
    overflow-x: hidden;
  }

  .menuHeader {
      padding-top: 15px;
  }

  .headerImg {
      max-width: 200px;
      max-height:150px;
      padding-left: 20px;
  }

  .leftDiv {
      width: 63%;
      float: left;
  }

  .rightDiv {
      width: 33%;
      float: right;
  }

  .menuContainer {
      padding-top: 2%;
  }
  .menuCard-agmark {
      width: 10%;
    justify-content: center;    
  }

  .vegIconStyle {
    font-size: 120%;
    color: green;
  }
  .nonvegIconStyle {
    font-size: 120%;
    color: red;
  }
  .menuCard-name {
    width: 40%;
    justify-content: center;    
}

.menuCard-counter {
    width: 3%;  
}

.menuCard-space {
    width: 3%;    
}

.menuCard-cost {
    width: 10%;
    justify-content: center;
}

.menuCard-extraspace {
    width: 20%;
    justify-content: center;    
}

.removeFocus:focus {
    outline: none;
    border: 0;
  }

  .cursorPointer {
    cursor: pointer;
  }

  .cartCard-space {
      width: 3%;
  }

  .cartCard-name {
    font-size: 80%;
    justify-content: center;
    width: 40%;
  }

  .cartCard-extraspace {
    width: 20%;
    justify-content: center;    
}

.cartCard-cost {
    font-size: 80%;
    width: 10%;
    justify-content: center;
}

.cartCard-quantity {
    font-size: 80%;
}

.cartCard-counter {
    width: 3%;

}

.cart-icon {
    font-size: 90%;
}

.cart-font {
    font-size: 80%;
}