.card {
    margin-top: 20px;
    margin-bottom: 10px;
    min-width: 150px;
    max-height: 300px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.30), 0 8px 6px rgba(0,0,0,0.22);
    
  }

  .overflow-control {
    overflow-x: hidden;
  }
