<md-tab-group>
    <md-tab label="Indian">
        <div class="overflow-control">
            <div class="card-deck">
                <div class="col-sm-3" *ngFor="let restaurant of restaurantsList">
                    <div class="card-container">
                        <md-card class="example-card">
                            
                            <!-- img -->
                            <img md-card-image class="image-sizer" src="../../assets/img1.jpg" *ngIf="restaurant.name === 'McDonalds'">
                            <img md-card-image class="image-sizer" src="../../assets/Chicken-Biryani_jpeg.jpg" *ngIf="restaurant.name === 'Paradise'">
                            <img md-card-image class="image-sizer" src="../../assets/img2.png" *ngIf="restaurant.name === 'TGIF'">
                            <img md-card-image class="image-sizer" src="../../assets/img3.jpg" *ngIf="restaurant.name === 'Taj Krishna'">
                            <img md-card-image class="image-sizer" src="../../assets/img5.jpg" *ngIf="restaurant.name === 'Mariott'">
                            <img md-card-image class="image-sizer" src="../../assets/img6.jpg" *ngIf="restaurant.name === 'Alakapuri'">
                            <img md-card-image class="image-sizer" src="../../assets/img7.jpg" *ngIf="restaurant.name === 'Ananda Bhavan'">
                            <img md-card-image class="image-sizer" src="../../assets/img8.jpg" *ngIf="restaurant.name === 'Paragon'">
                            <img md-card-image class="image-sizer" src="../../assets/img9.jpg" *ngIf="restaurant.name === 'Rasoi'">
                            <img md-card-image class="image-sizer" src="../../assets/img10.jpg" *ngIf="restaurant.name === 'Haveli'">
                            <img md-card-image class="image-sizer" src="../../assets/img11.jpg" *ngIf="restaurant.name === 'Chutneys'">
                            <img md-card-image class="image-sizer" src="../../assets/img12.jpg" *ngIf="restaurant.name === 'Vivanta'">
                            <img md-card-image class="image-sizer" src="../../assets/img13.jpg" *ngIf="restaurant.name === 'Taj Banjara'">
                            <img md-card-image class="image-sizer" src="../../assets/img14.jpg" *ngIf="restaurant.name === 'Bawarchi'">
                            <img md-card-image class="image-sizer" src="../../assets/img15.jpg" *ngIf="restaurant.name === 'Park Hayatt'">
                            <!-- img -->
                            <md-card-content>
                                <md-card-title>{{restaurant.name}}</md-card-title>
                                <md-card-subtitle>{{restaurant.address}}, {{restaurant.city}}</md-card-subtitle>
                            </md-card-content>
                            <hr/>
                            <md-card-actions>
                                <div class="mdButtonAdjustLeft">
                                    <button md-raised-button (click)="restaurantMenuClick(restaurant.name, restaurant._id)" class="float-left">
                                        <i class="material-icons">restaurant_menu</i> Menu</button>
                                </div>                       
                                <div class="mdButtonAdjustRight">
                                    <button md-raised-button class="float-right">
                                        <i class="fa fa-star" style="color:gold; font-size: 140%;" aria-hidden="true"></i> 4.5</button>
                                </div>
                                <div style="clear:both;"></div>
                            </md-card-actions>
                        </md-card>
                    </div>
                </div>
            </div>
        </div>
    </md-tab>
    <md-tab label="Continental">
        <div class="overflow-control">
            <div class="card-deck">
                <div class="col-sm-3">
                    <div class="card bg-light mb-3">
                        <div class="card-body">
                            <h4 class="card-title">Special title treatment</h4>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card bg-light mb-3">
                        <div class="card-body">
                            <h4 class="card-title">Special title treatment</h4>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card bg-light mb-3">
                        <div class="card-body">
                            <h4 class="card-title">Special title treatment</h4>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card bg-light mb-3">
                        <div class="card-body">
                            <h4 class="card-title">Special title treatment</h4>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card bg-light mb-3">
                        <div class="card-body">
                            <h4 class="card-title">Special title treatment</h4>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card bg-light mb-3">
                        <div class="card-body">
                            <h4 class="card-title">Special title treatment</h4>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card bg-light mb-3">
                        <div class="card-body">
                            <h4 class="card-title">Special title treatment</h4>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card bg-light mb-3">
                        <div class="card-body">
                            <h4 class="card-title">Special title treatment</h4>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card bg-light mb-3">
                        <div class="card-body">
                            <h4 class="card-title">Special title treatment</h4>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </md-tab>
    <md-tab label="Chinese">
    </md-tab>
    <md-tab label="Italian">
    </md-tab>
    <md-tab label="Mexican">
        <md-card>Simple card</md-card>

    </md-tab>
</md-tab-group>

<!-- <div class="card-container">
        <md-card class="example-card">
                <img md-card-image src="../../assets/Chicken-Biryani_jpeg.jpg" alt="Photo of a Shiba Inu">
                <md-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </md-card-content>
                <md-card-actions>
                  <button md-button>LIKE</button>
                  <button md-button>SHARE</button>
                </md-card-actions>
              </md-card>
</div> -->

<!-- <div class="md-padding" layout="row" layout-wrap>
        <div flex="33" *ngFor="let restaurant of restaurantsList">
                <md-card class="example-card">
                        <img md-card-image src="../../assets/Chicken-Biryani_jpeg.jpg" alt="Photo of a Shiba Inu">
                        <md-card-content>
                          <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                            bred for hunting.
                          </p>
                        </md-card-content>
                        <md-card-actions>
                          <button md-button>LIKE</button>
                          <button md-button>SHARE</button>
                        </md-card-actions>
                      </md-card>
        </div>
    </div> -->