
/* .example-card {
    margin-top: 15px;
    width: 125px;
    height: 155px;
    background-color: #9E7DFC;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-left: 20px;
    display: block; 
    background-size: cover;
  } */

  /* .cards-div{
    display: inline-flex;
  } */

  /* .example-spacer {
    flex: 1 1 auto;
  } */

  /* .material-icon {
    margin-left: 15px;
    background: url('../assets/favorite.png');
  } */

  /* .card-sizing {
    margin-top: 15px;
    margin-left: 10px;
    width: 125px;
  } */

  /* .card-adjust {
    overflow-x: hidden;
    margin-top: 25px;
  } */

  .card {
    margin-top: 20px;
    margin-bottom: 10px;
    min-width: 150px;
    max-height: 300px;
  }

  .overflow-control {
    overflow-x: hidden;
  }


 
