<!-- <div class="col-md-6 col-md-offset-3">
    <h1>Home</h1>
    <p>You're logged in with JWT!!</p>
    <div>
        Products from secure api end point:
        <ul>
            <li *ngFor="let product of customerProducts">{{product.vendorName}} </li>
        </ul>
    </div>
    <p><a [routerLink]="['/login']"><i class="fa fa-sign-out" aria-hidden="true"></i></a></p>

    <input type="file" name="photo" ng2FileSelect [uploader]="uploader" />
    <button type="button" class="btn btn-success btn-s" 
        (click)="uploader.uploadAll()" 
        [disabled]="!uploader.getNotUploadedItems().length">Upload with ng-2 file uploader</button>
</div> -->
<div class="container">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100 sizeLimiter" src="../../assets/IMG_20171206_005959.png" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
          <h3>...</h3>
          <p>...</p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 sizeLimiter" src="../../assets/IMG_20171206_010044.png" alt="Second slide">
        <div class="carousel-caption d-none d-md-block">
          <h3>...</h3>
          <p>...</p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 sizeLimiter" src="../../assets/IMG_20171206_005959.png" alt="Third slide">
        <div class="carousel-caption d-none d-md-block">
          <h3>...</h3>
          <p>...</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container topics">
  <div class="row">      
      <md-card class="rowCard" style="background-image:url('../../assets/IMG_20171206_010658.png'); background-size: 100%;">Simple card</md-card>
      <div style="width:20px;"></div>
      <md-card class="rowCard" style="background-image:url('../../assets/IMG_20171206_010408.png'); background-size: 100%;">Simple card</md-card>
      <div style="width:20px;"></div>
      <md-card class="rowCard">
          <img md-card-image src="../../assets/IMG_20171206_141317.png" style="background-size: 100%; max-height: 190px;" alt="Photo of a Shiba Inu">
      </md-card>
  </div>
  
